
.nutrient {
    display: flex;
    flex-direction: column;
    border: 1px solid #00695C;
}

.subtitle {
    font-weight: 600;
}

@media (min-width: 360px) {
    .nutrient {
        flex-direction: row;
    }
}