
/****** 
general styles  
******/

//radius
$general-radius: calcRem(5px);

/****** 
color styles  
******/
$color-primary: #00695C;
$color-secondary: #AC645A;
$color-white: #fff;
$color-black: #000;
$color-gray: #ccc;

/****** 
font styles  
******/

//font family
$font-stack-primary: 'Merienda', cursive;
$font-stack-secondary: 'Roboto', sans-serif;

//font weights
$font-regular: 400;
$font-medium: 500;
$font-bold: 700; 

//font size
$font-subtitle2: calcRem(16px);

//font small phone 
$font-small-phone-h1: calcRem(48px);
$font-small-phone-h2: calcRem(24px);
$font-small-phone-h3: calcRem(20px);
$font-sm-phone-body: calcRem(20px);
$font-sm-phone-body2: calcRem(16px);

//font large phone
$font-lg-phone-h1: calcRem(56px);
$font-lg-phone-body: calcRem(22px);
$font-lg-phone-body2: calcRem(18px);

//font tablet
$font-tablet-h1: calcRem(72px);

//font-desktop-h1: 
$font-desktop-h1: calcRem(88px);

/****** 
button styles  
******/

//button radius
$button-radius: $general-radius;

//button size
$font-button-sm-phone: calcRem(16px);
$button-width-phone-sm: calcRem(132px);
$button-height-phone-sm: calcRem(44px); 

$font-button-lg-phone: calcRem(18px);
$button-width-phone-lg: calcRem(162px);
$button-height-phone-lg: calcRem(54px); 

/****** 
recipe item styles  
******/

//recipe item
$recipe-item-radius: calcRem(5px);
$recipe-item-container-color: #F8F8F8;
$recipe-title-font-size: calcRem(24px);
$recipe-body-font-size: calcRem(20px);

//recipe item large phone
$font-recipe-lg-phone-title: calcRem(28px);
$font-recipe-lg-phone-body: calcRem(24px);
