
.advanceSearchPlus {
    @include grid-m-16;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;

    input {
        width: 100%;
        text-align: center;
        border: 1px solid $color-gray;
        height: calcRem(48px);
    }
}

.advanceSearchPlusHeaderContainer {
    text-align: center;
    grid-column: 1/3;
    
    h2 {
        @include h2-home-styles;
        font-size: calcRem(24px);
        margin: 0px;
        padding: 0px calcRem(50px) 5px;
    }
}

@media (min-width: 380px) {
    .advanceSearchPlusHeaderContainer {
        h2 {
            margin-top: calcRem(16px);
            font-size: calcRem(32px);
        }
    }

    .advanceSearchPlus {
        input {
            height: calcRem(56px);
        }
    }
}

@media (min-width: 560px) {
    .advanceSearchPlus {
        grid-template-columns: repeat(3, 1fr);
    }

    .advanceSearchPlusHeaderContainer {
        grid-column: 1/4;
    }
}

@media (min-width: 768px) {
    .advanceSearchPlus {
        grid-template-columns: repeat(4, 1fr);
    }

    .advanceSearchPlusHeaderContainer {
        grid-column: 1/5;
    }
}

@media (min-width: 1020px) {
    .advanceSearchPlus {
        grid-template-columns: repeat(5, 1fr);
    }

    .advanceSearchPlusHeaderContainer {
        grid-column: 1/6;
    }
}

@media (min-width: 1064px) {
    .advanceSearchPlus {
        margin-right: auto;
        margin-left: auto;
        max-width: 1020px;
    }
}