
footer {
    padding: calcRem(16px);
    text-align: center;
    background-color: $color-primary;
    color: $color-white;
    font-family: $font-stack-primary;
    font-size: $font-sm-phone-body2;

    a {
        text-decoration: none;
        color: $color-white;

        &:hover {
            color: $color-secondary;
        }
    }
}

@media (min-width: 380px) {
    footer {
        font-size: $font-lg-phone-body2;
    }
}