
header {
    @include grid-m-16;
    grid-template-columns: 1fr;

    h1 {
        color: $color-primary;
        font-family: $font-stack-primary;
        font-size: $font-small-phone-h1;
        text-align: center;
        margin-top: calc(15px);
        margin-bottom: calc(10px);
    }

    input {
        width: 80%;
        min-width: calcRem(200px);
        min-height: calc(32px);
        max-width: calcRem(800px);
        text-align: center;
        display: block;
        border: 2px solid $color-primary;
        border-radius: 3px;
        margin: 0px auto calcRem(16px);
    }

    .buttonContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button {
        @include button1;
        @include button1-sm-styles;
    }

    button:nth-of-type(1) {
        margin-right: calcRem(10px); 
    }

    button:nth-of-type(2) {
        margin-left: calcRem(10px); 
    }
}

@media (min-width: 380px) {
    header {
        h1 {
            font-size: $font-lg-phone-h1;
        }

        button {
            @include button1-lg-styles;
        }
    }
}

@media (min-width: 600px) {
    header {
        h1 {
            font-size: $font-tablet-h1;
        }
    }
}

@media (min-width: 1020px) {
    header {
        h1 {
            font-size: $font-desktop-h1;
        }
    }
}