
.recipeItemsContainer {
    @include grid-m-16;
    margin-top: calcRem(96px);
    margin-bottom: calcRem(96px);
    grid-template-columns: 1fr;
    grid-gap: calcRem(16px);
    justify-items: center;

    img {
        display: none;
    }

    .recipeItem {
        display: block;
        width: 100%;
        min-width: calcRem(400px);
        min-height: calcRem(160px);
        border-radius: $button-radius;
        border: 2px solid $color-white;
        background-color: $recipe-item-container-color;
        box-shadow: 0px calcRem(2px) calcRem(7px) #000;
    }

    h2 {
        font-family: $font-stack-primary;
        font-size: $recipe-title-font-size;
        font-weight: $font-regular;
        text-align: center;
        color: $color-secondary;
        margin: calcRem(10px) 0px;
    }

    p {
        text-align: center;
        margin: 0px 0px calcRem(5px);
        font-family: $font-stack-secondary;
        font-size: $recipe-body-font-size;
        font-weight: $font-medium;
    }
}

@media (min-width: 414px) {

    .recipeItem {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: calcRem(8px);
        padding-right: calcRem(16px);

        img {
            display: block;
            width: 100%;
            border-radius: $general-radius;
        }
    }

    .recipeItem {
        div {
            padding: 16px 8px;
        }
    }
}

@media (min-width: 460px) {
    .recipeItemsContainer {
        h2 {
            margin: calcRem(10px) 0px calcRem(24px);
        }
    }
}

@media (min-width: 480px) {
    .recipeItemsContainer {
        margin-right: calcRem(48px);
        margin-left: calcRem(48px);
        grid-gap: calcRem(32px);

        h2 {
            font-size: $font-recipe-lg-phone-title;
        }
    
        p {
            font-size: $font-recipe-lg-phone-body;
        }
    }
} 

@media (min-width: 500px) {
    .recipeItemsContainer {
        h2 {
            margin: calcRem(10px) 0px calcRem(48px);
        }
    }
}

@media (min-width: 580px) {
    .recipeItemsContainer {
        margin-right: calcRem(96px);
        margin-left: calcRem(96px);
    }
}

@media (min-width: 680px) {
    .recipeItemsContainer {
        margin-right: calcRem(16px);
        margin-left: calcRem(16px);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: calcRem(16px);

        h2 {
            font-size: $recipe-title-font-size;
            margin: calcRem(10px) 0px;
        }
    
        p {
            font-size: $recipe-body-font-size;
        }
    }
}

@media (min-width: 760px) {
    .recipeItemsContainer {
        margin-right: calcRem(32px);
        margin-left: calcRem(32px);
    }
}

@media (min-width: 800px) {
    .recipeItemsContainer {
        grid-gap: calcRem(32px);
    }
}

@media (min-width: 900px) {

    .recipeItem {
        min-width: 188px !important;
    }

    .recipeItemsContainer {
        grid-template-columns: repeat(4, 1fr);
        margin-right: calcRem(64px);
        margin-left: calcRem(64px);
        max-width: 1020px;
    }

    .recipeItem {
        grid-template-columns: 1fr;
        grid-column-gap: calcRem(8px);
        padding-right: 0px;
    }
}

@media (min-width: 1064px) {
    .recipeItemsContainer {
        margin-right: auto;
        margin-left: auto;
        max-width: 1020px;
    }
}

@media (min-width: 1440px) {
    .recipeItemsContainer {
        grid-template-columns: repeat(5, 1fr);
    }
}