
.recipeItemsContainer {
    margin: calcRem(25px) calcRem(10px);
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: calcRem(8px);
    justify-items: center;

    img {
        display: none;
    }

    .recipeItem {
        display: block;
        width: 85%;
        min-width: calcRem(400px);
        min-height: calcRem(160px);
        border-radius: $button-radius;
        border: 2px solid $color-white;
        background-color: $recipe-item-container-color;
        box-shadow: 0px calcRem(2px) calcRem(7px) #000;
    }

    h2 {
        font-family: $font-stack-primary;
        font-size: $recipe-title-font-size;
        font-weight: $font-regular;
        text-align: center;
        color: $color-secondary;
        margin: calcRem(10px) 0px;
    }

    p {
        text-align: center;
        margin: 0px 0px calcRem(5px);
        font-family: $font-stack-secondary;
        font-size: $recipe-body-font-size;
        font-weight: $font-medium;
    }
}

@media (min-width: 414px) {
    
    .recipeItem {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: calcRem(8px);
        padding-right: calcRem(16px);

        img {
            display: block;
            width: 100%;
            border-radius: 5px;
        }
    }
}