
.buttonStyles {
    font-family: 'Merienda', cursive;
    color: #fff;
    background-color: #00695C;
}

.body {
    flex: 1;
}

.main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}