
.buttonSearch {
    font-family: 'Merienda', cursive;
    color: #fff;
    background-color: #00695C;
}

.buttonClear {
    font-family: 'Merienda', cursive;
    color: #fff;
    background-color: #AC645A;
}

.body {
    flex: 1;
}

.main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.error {
    color: #AC645A;
}

.tryAgain {
    color: #00695C;
}