
.cardStyles {
    background-color: #F8F8F8;
    width: 45%;
}

.cardStyles img {
    display: block;
}

.cardStyles h6 {
    margin: 0.5rem;
}

.cardStyles:hover {
    cursor: pointer;
}

.subtitleStyles {
    font-family: 'Merienda', cursive;
    color: #AC645A;
}

.pStyles {
    display: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

@media (min-width: 400px) {
    .cardStyles {
        width: 10rem;
    }
    
    .cardStyles img {
        display: block;
    }
    
    .cardStyles h6 {
        margin: 1rem;
    }

    .pStyles {
        display: block;
    }
}

@media (min-width: 576px) {
    .cardStyles {
        width: 12rem;
    }
}

@media (min-width: 768px) {
    .cardStyles {
        width: 15rem;
    }
}